/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

body {background-color: #fffff;}

html {    
    background-size: cover;
    background-color: #fffff
}

.sidebarColor {
    background-size: cover;
    background-color: #fffff
}

.widget {
background-color: #fffff;
}

.home .hero img
  max-width 450px!important
