/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@require 'fonts'

body {
    background-color: #fffff;
    font-family: 'Inter', -apple-system, sans-serif;
}

html {    
    background-size: cover;
    background-color: #fffff
}

.sidebarColor {
    background-size: cover;
    background-color: #fffff
}

.widget {
background-color: #fffff;
}

// .home .hero img
//   max-width 450px!important

header.navbar .logo {
    height: 5.8rem;
    min-width: auto; 
    margin: 5% 0;   
}

header.navbar, header.navbar .links {
    background-color: $headerColor;
}

header.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5rem;
    height: auto;
    line-height: 6.5rem;
}

header.navbar .links {
    padding-right: 3rem;
    top: 0.6rem;
}

.nav-item a {
    // font-weight: 1000;
    font-family: 'Inter-Bold', -apple-system, sans-serif;
    font-size: 18px;
}

@media screen and (min-width: 1179px) { 
    .nav-links {
        padding: 0 3rem !important;
        transition: all 0.2s ease;
    }
    .page {
        padding-left: 20rem;    
    }

    .sidebar {
        width: 20rem;    
    }

}

.nav-links {
    padding: 0;
    transition: all 0.2s ease;
}

.navbar .site-name {
    display: none;    
}

.search-box {
  order: 1;
  margin-right: 0;
  margin-left: 1rem;

  .suggestions {
    left: auto !important;
    right: 0 !important;
  }
}

@media (max-width: 500px) {
    header.navbar {
        padding-left: 2rem;
        background-color: white;
        border:none;
    }
    header .sidebar-button {
        margin-right: 0;
        left: 85%;
        right: 1rem;
        top: 2.5rem;
    }    
    .navbar .links .search-box {
        display: none;    
    }
    aside.sidebar nav.nav-links .nav-item, .sidebar .nav-links .repo-link {
        padding-left: 0px;    
    }

    aside.sidebar > .sidebar-links {
        margin-left: 18px;
    }
}

aside.sidebar .nav-links {
    border-bottom: 1px solid white;    
}

@media (max-width: 959px) {
    .theme-container.sidebar-open .sidebar {
        width: 100%;
        top: 7.6rem;
        background: $mobileMenu;
    }
}

.links .search-box input {
    border: 1px solid #2C2C2C;
    box-shadow: 0px 4px 4px #DCC3D3;
    background: #FFF url(/assets/search.svg) 0.6rem 0.5rem no-repeat
}

.outbound {
    display: none !important;    
}

ul.suggestions {
    margin-top: 45px;
}

main.home {
    padding: 10rem 2rem 0;
}

h1#main-title {
    padding: 4rem 0;
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    font-size: 34.59px;
    font-family: 'Inter Bold', -apple-system, sans-serif;
}

.theme-default-content:not(.custom) > h1 {
    padding-top: 9.5rem;
}

.theme-default-content:not(.custom) > h2,
.theme-default-content:not(.custom) > h3,
.theme-default-content:not(.custom) > h4,
.theme-default-content:not(.custom) > h5 {
    padding-top: 9.5rem;
}

// Sidebar

aside.sidebar {
    top: 8rem;
    padding:0 40px;
    padding-right: 18px;
}

section .sidebar-heading {
    padding: 0;
    margin-left: -18px;
}

section .sidebar-heading {
    color: $textColor;
    font-size: 16px;
}

.sidebar-links a.sidebar-link {
    color: $textColor;
    font-size: 16px;
}

.sidebar-link .sidebar-sub-headers a.sidebar-link {
    color: $thirdListTextColor;
    font-size: 14px;
}

a span.arrow.down,
a span.arrow.right {
    display:none;
}

.sidebar ul.sidebar-sub-headers {
    padding-left: 0;
}

.sidebar-group li a.sidebar-link {
    padding-left: 0px;
}

.sidebar-group li a.sidebar-link.active {
    border: none;
    padding-left: 0px;
    margin-left: 4px;
}

.sidebar-group li.sidebar-sub-header a.sidebar-link {
    padding-left: 50px;
}

.sidebar-group li.sidebar-sub-header a.sidebar-link.active {
    border-left: 0.1rem solid #ff62c4;
    padding-left: 46px;
}

.sidebar-sub-headers a.sidebar-link.active {
    // border-left: #ff62c4;
    border-left: 0.1rem solid #ff62c4;
    padding-left: 50px - 0.25rem;
    // border-left: solid;
}

.sidebar-group.is-sub-group.depth-1 > ul.sidebar-group-items {
    padding-left: 22px;
    margin-left: 8px; 
}

.sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link {
    padding-left: 50px;    
}


.sidebar-group.is-sub-group.depth-1 > ul.sidebar-group-items.active {
    padding-left: 18px;
    // border-left: 0.1rem solid #ff62c4;
    margin-left: 8px; 
}

.sidebar-group.is-sub-group.depth-2 > ul.sidebar-group-items {
    padding-left: 20px;
    margin-left: -18px; 
}

.sidebar-group.depth-2 > a.sidebar-heading {
    padding-left: 45px;
}

.sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link {
    padding-left: 0px;  
}

.sidebar-group.is-sub-group > .sidebar-group-items > li > a.sidebar-link {
    padding-left: 37px;
    margin-left: -20px;  
}

.sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link.active {
    border-left: 0.1rem solid #ff62c4;
    padding-left: 35px;
    margin-left: -20px;
}

.sidebar .sidebar-sub-headers {
    padding-left: 0px;
    margin-left: -4px;    
}

section.sidebar-group.depth-0 .sidebar-links li ul.sidebar-sub-headers .sidebar-sub-header a.sidebar-link {
    padding-left: 30px;
    margin-left: 10px;
    font-size: 12px;
}

section.sidebar-group.depth-0 .sidebar-links li ul.sidebar-sub-headers .sidebar-sub-header a.sidebar-link.active {
    padding-left: 28px;
    margin-left: 10px;
}

section.sidebar-group.depth-0 .sidebar-links li section.sidebar-group.depth-1 .sidebar-links li section.sidebar-group.depth-2 .sidebar-links li ul.sidebar-sub-headers .sidebar-sub-header a.sidebar-link {
    padding-left: 50px;
    margin-left: -16px;
    font-size: 12px;
}

section.sidebar-group.depth-0 .sidebar-links li section.sidebar-group.depth-1 .sidebar-links li section.sidebar-group.depth-2 .sidebar-links li ul.sidebar-sub-headers .sidebar-sub-header a.sidebar-link.active {
    padding-left: 48px;
    margin-left: -16px;
    border-left: 0.1rem solid #ff62c4;
}

section.sidebar-group.depth-0 .sidebar-links li section.sidebar-group.depth-1 .sidebar-links li ul.sidebar-sub-headers {
    margin-left: -30px;
}

section.sidebar-group.depth-0 .sidebar-links li section.sidebar-group.depth-1 .sidebar-links li ul.sidebar-sub-headers li a {
    padding-left: 50px;
}

section.sidebar-group.depth-0 .sidebar-links li section.sidebar-group.depth-1 .sidebar-links li ul.sidebar-sub-headers li a.active {
    padding-left: 48px;
}

section.sidebar-group .depth-0 > ul li a.sidebar-link.active {
    border-left: 0.1rem solid #ff62c4;
    padding-left: 22px;
}

section.sidebar-group .depth-1 a.sidebar-heading {
    font-size:1rem;
    padding-left: 24px;
}

section.sidebar-group .depth-1 a.sidebar-heading.active {
    border-left: none;
    padding-left: 28px;
}

section.sidebar-group .depth-2 a.sidebar-heading {
    padding-left: 22px;
}

section.sidebar-group .depth-2 a.sidebar-heading.active {
    border-left: 0.1rem solid #ff62c4;
    padding-left: 21px;
}

.sidebar-heading-normal {
    color: #2c2c2c;  
}

.sidebar-heading.active {
    font-weight: 600;
    color: #ff62c4;    
}

.sidebar-group.depth-2 > a.sidebar-heading {
    font-size: 14px !important;    
}

p.description {
    display: none;
}

.main-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0;
    margin-top: 40px;
}

.social-menu {
    margin: 70px 0;    
}
.etc-menu {
    margin: 70px 0;    
}

.main-menu>* {
    flex: 0 0 100%;
}

.social-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.social-menu>* {
    flex: 0 0 33.33333%;
}

.etc-menu {
    display: block;
    margin-bottom: 8rem;
}

.main-menu_container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 50%;

}

.social-menu_container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1179px) { 
    .main-menu_container {
        display: flex;
        flex-direction: row;
        flex: 1;
        flex-basis: 100%;
    }
    .social-menu_container {
        display: flex;
        flex-direction: row;
    }
    .social-menu>* {
        flex: 0 0 50%;
    }
}

.menu-items {
    margin-bottom: 20px;
    width: 100%;
}

.etc-menu_container {
    width: 100%;    
}

.menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,212,231,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,212,231,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,212,231,1) 100%);
    height:175px;
    border-radius:10px;
}

.etc-left {
    padding: 10px;
    padding-left: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.etc-left img {
    padding: 0px;
    max-width:80%;
    max-height:80%;
}

.etc-right {
    width: 65%;
    padding: 10px;
    padding-right: 80px;
    transform: translate(0, 15%);
}

.etc-right p {
    font-family: 'Inter', -apple-system, sans-serif;
    line-height: normal;
    vertical-align: middle;
    white-space: normal;
}

h2.etc-title {
    font-weight: 800; 
    padding-bottom: 0px;
    border-bottom: none;
    margin-block-end: 10px;
    margin-block-start: 10px;
    text-align: left;
    color: #2C2C2C;
    font-size: 1.8rem;
    font-family: 'Inter-Bold', -apple-system, sans-serif;
}

.etc-description {
    font-size: 0.8rem;
    margin: 0px;
    text-align: left;
    color: #2C2C2C;
    line-height: 1.2;
    font-weight: 500;
}

.etc-left img.devs-grant-img {
    max-width: 80%;
}


@media screen and (max-width: 768px) {
    h1#main-title {
        display: none;
    }
    img.logo {
        max-width: 70%;
    }
    .main-menu {
        width: 100%;
        margin: 30px 0;
        margin-top: 0;
    }
    .main-menu>* {
        flex: 0 0 100%;
    }
    .social-menu {
        margin: 30px 0;    
    }
    .etc-menu {
        margin: 30px 0;    
    }
    .menu-container  {
        flex-direction: column;
        min-height: 249px;
        height: fit-content;
    }
    .etc-left {
        width: auto; 
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 30px;
        padding-bottom: 30px;  
    }
    .etc-left img.devs-grant-img {
        max-width: 70%;    
    }
    .etc-right {
        width: auto; 
        padding-left: 20px;
        padding-right: 20px; 
        padding-top: 0px; 
        transform: translate(0, 0%);
    }
    .etc-right p {
        min-height: 79px;    
    }
    .collab-img {
        padding-left: 130px;
        padding-right: 130px; 
    }
    h2.etc-title {
        font-size: 1.2rem;
    }
}