/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
 
$accentColor = #ff62c4
$mobileMenu = #F2D4E7
$textColor = #2c2c2c
$thirdListTextColor = #908B8B
$borderColor = #f1d1e5
$headerColor = #f1d1e5
$codeBgColor = #2c2c2c
$arrowBgColor = #ff62c4
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$sidebarColor = #fc6464

$badgeTipColor = #fc6464

// layout
$navbarHeight = 9.375rem
$sidebarWidth = 16rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
